In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [20]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [21]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [24]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [25]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [28]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [29]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 8.73 s, sys: 64.7 ms, total: 8.8 s
Wall time: 14.4 s

1000

In [30]:
from time import time

In [31]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserting another chunk..., took %.3f seconds' % (t_end - t_start))

inserting another chunk..., took 14.309 seconds
inserting another chunk..., took 13.979 seconds

/tmp/ipykernel_13214/1933853355.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserting another chunk..., took 14.999 seconds
inserting another chunk..., took 6.490 seconds

StopIteration:

In [32]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-27 03:27:51--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.121.16, 16.182.41.184, 52.216.152.230, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.121.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2024-01-27 03:27:52 (20,6 MB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [33]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [34]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [35]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265